.account-icon {
    font-size: 40px !important;
    line-height: 1;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-link {
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
}

.navbar .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #1f2937;
}

    .navbar .nav-link:hover {
        color: #0f766e;
        transition: color 0.2s ease-in-out;
    }

.navbar .material-symbols-rounded {
    font-size: 24px;
    vertical-align: middle;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.main-wrapper {
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
}

.content-body {
    flex-grow: 1;
}

footer.footer {
    margin-top: 40px;
}

.dropdown-menu {
    min-width: 180px;
    border-radius: .75rem;
    font-size: 15px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

    .dropdown-menu a.dropdown-item:hover {
        background-color: #f1f5f9;
    }

.navbar .dropdown-toggle::after {
    display: none !important;
}
