USE [master]
GO
/****** Object:  Database [BDProyecto_KN]    Script Date: 18/11/2025 17:49:27 ******/
CREATE DATABASE [BDProyecto_KN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDProyecto_KN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDProyecto_KN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDProyecto_KN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDProyecto_KN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDProyecto_KN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDProyecto_KN]
GO
/****** Object:  Table [dbo].[tbCatalogo]    Script Date: 18/11/2025 17:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCatalogo](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](2000) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Imagen] [varchar](255) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdCategoria] [int] NOT NULL,
 CONSTRAINT [PK_tbCatalogo] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbCategoria]    Script Date: 18/11/2025 17:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCategoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCategoria] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPerfil]    Script Date: 18/11/2025 17:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPerfil](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tbPerfil] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUsuario]    Script Date: 18/11/2025 17:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUsuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Identificacion] [varchar](15) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[CorreoElectronico] [varchar](100) NOT NULL,
	[Contrasenna] [varchar](10) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdPerfil] [int] NOT NULL,
 CONSTRAINT [PK_tbUsuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbCatalogo] ON 

INSERT [dbo].[tbCatalogo] ([IdProducto], [Nombre], [Descripcion], [Precio], [Stock], [Imagen], [FechaRegistro], [Estado], [IdCategoria]) VALUES (1, N'Concentrado Premium Perros', N'Alimento seco para perros adultos, alta nutrición.', CAST(18500.00 AS Decimal(10, 2)), 18, N'perros_premium.jpg', CAST(N'2025-11-18T17:31:02.393' AS DateTime), 1, 1)
INSERT [dbo].[tbCatalogo] ([IdProducto], [Nombre], [Descripcion], [Precio], [Stock], [Imagen], [FechaRegistro], [Estado], [IdCategoria]) VALUES (2, N'Collar Antipulgas', N'Collar con protección de 8 meses contra pulgas y garrapatas.', CAST(9500.00 AS Decimal(10, 2)), 10, N'collar_antipulgas.jpg', CAST(N'2025-11-18T17:31:02.393' AS DateTime), 1, 2)
INSERT [dbo].[tbCatalogo] ([IdProducto], [Nombre], [Descripcion], [Precio], [Stock], [Imagen], [FechaRegistro], [Estado], [IdCategoria]) VALUES (3, N'Juguete Pelota de Goma', N'Pelota resistente para juego interactivo.', CAST(3500.00 AS Decimal(10, 2)), 25, N'pelota_goma.jpg', CAST(N'2025-11-18T17:31:02.393' AS DateTime), 1, 3)
SET IDENTITY_INSERT [dbo].[tbCatalogo] OFF
GO
SET IDENTITY_INSERT [dbo].[tbCategoria] ON 

INSERT [dbo].[tbCategoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Alimentos', N'Productos alimenticios para mascotas', 1)
INSERT [dbo].[tbCategoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Cuidado e Higiene', N'Productos de limpieza y cuidado personal', 1)
INSERT [dbo].[tbCategoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Juguetes', N'Juguetes y accesorios recreativos', 1)
SET IDENTITY_INSERT [dbo].[tbCategoria] OFF
GO
SET IDENTITY_INSERT [dbo].[tbPerfil] ON 

INSERT [dbo].[tbPerfil] ([IdPerfil], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[tbPerfil] ([IdPerfil], [Nombre]) VALUES (2, N'Cliente')
SET IDENTITY_INSERT [dbo].[tbPerfil] OFF
GO
SET IDENTITY_INSERT [dbo].[tbUsuario] ON 

INSERT [dbo].[tbUsuario] ([IdUsuario], [Identificacion], [Nombre], [CorreoElectronico], [Contrasenna], [Estado], [IdPerfil]) VALUES (3, N'123456789', N'Prueba ', N'prueba@correo.com', N'ABC12345', 1, 2)
INSERT [dbo].[tbUsuario] ([IdUsuario], [Identificacion], [Nombre], [CorreoElectronico], [Contrasenna], [Estado], [IdPerfil]) VALUES (4, N'119470322', N'GONZALEZ ROJAS SEBASTIAN JOSUE', N'jg1829016@gmail.com', N'123456', 1, 2)
SET IDENTITY_INSERT [dbo].[tbUsuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CORREO]    Script Date: 18/11/2025 17:49:28 ******/
ALTER TABLE [dbo].[tbUsuario] ADD  CONSTRAINT [UK_CORREO] UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Identificacion]    Script Date: 18/11/2025 17:49:28 ******/
ALTER TABLE [dbo].[tbUsuario] ADD  CONSTRAINT [UK_Identificacion] UNIQUE NONCLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbCatalogo]  WITH CHECK ADD  CONSTRAINT [FK_tbCatalogo_tbCategoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[tbCategoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[tbCatalogo] CHECK CONSTRAINT [FK_tbCatalogo_tbCategoria]
GO
ALTER TABLE [dbo].[tbUsuario]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuario_tbPerfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[tbPerfil] ([IdPerfil])
GO
ALTER TABLE [dbo].[tbUsuario] CHECK CONSTRAINT [FK_tbUsuario_tbPerfil]
GO
/****** Object:  StoredProcedure [dbo].[CrearUsuarios]    Script Date: 18/11/2025 17:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearUsuarios]
    @Identificacion    VARCHAR(15),
    @Nombre            VARCHAR(255),
    @CorreoElectronico VARCHAR(100),
    @Contrasenna       VARCHAR(10)
AS
BEGIN
    IF EXISTS(SELECT 1 
              FROM dbo.tbUsuario
              WHERE Identificacion = @Identificacion
                 OR CorreoElectronico = @CorreoElectronico)
    BEGIN
        RETURN 0 
    END

    INSERT INTO dbo.tbUsuario 
    (Identificacion, Nombre, CorreoElectronico, Contrasenna, Estado, IdPerfil)
    VALUES (@Identificacion, @Nombre, @CorreoElectronico, @Contrasenna, 1, 2);

    RETURN @@ROWCOUNT; 
END
GO
/****** Object:  StoredProcedure [dbo].[ValidarUsuarios]    Script Date: 18/11/2025 17:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ValidarUsuarios]
    @CorreoElectronico VARCHAR(100),
    @Contrasenna       VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdUsuario,      
        Identificacion,
        Nombre,
        CorreoElectronico,
        Contrasenna,
        Estado,
        IdPerfil        
    FROM dbo.tbUsuario
    WHERE CorreoElectronico = @CorreoElectronico
      AND Contrasenna = @Contrasenna
      AND Estado = 1;
END;
GO
USE [master]
GO
